body {
    margin: 0;
}

/*top navbar partition*/
div.navbar {
    text-align: center;
}

div.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

div.navbar li {
    display: inline;
    float: left;
}

div.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 22px 24px;
    text-decoration: none;
}

div.navbar li a:hover {
    background-color: #222;
}

div.navbar li a:hover:not(.active) {
    background-color: #111;
}

div.navbar li a.active {
    background-color: #000;
}

/*side information bar partition*/
div.sidemenu {
    position: fixed;
    top: 62px;
    bottom: 0;
    left: 0;
    width: 250px;
}

div.sidemenu div.sidemenu-name {
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 70px;
    background-color: #E0E0E0;
}

div.sidemenu div.sidemenu-name table {
    margin: auto;
}

div.sidemenu div.sidemenu-name table th.eng-name {
    text-align: center;
    font-size: 30px;
    color: #1f618d;
}

div.sidemenu div.sidemenu-name table td a {
    padding-top: 12px;
    text-align: center;
    font-size: 19px;
    color: #808080;
}

div.sidemenu div.sidemenu-head {
    position: absolute;
    top: 70px;
    left: 0;
    width: 250px;
    height: 326px;
    background-color: #C0C0C0;
}

div.sidemenu div.sidemenu-head img.photo {
    position: absolute;
    top: 11px;
    left: 11px;
    width: 228px;
    height: 304px;
}

div.sidemenu div.sidemenu-info {
    position: absolute;
    top: 396px;
    left: 0;
    width: 250px;
    height: 400px;
    background-color: #E0E0E0;
}

div.sidemenu div.sidemenu-info table {
    margin: auto;
}

div.sidemenu div.sidemenu-info table td {
    padding-top: 12px;
    text-align: center;
    font-size: 20px;
    color: #000;
}

div.sidemenu div.sidemenu-info table td.left {
    padding-top: 12px;
    text-align: center;
    font-size: 18px;
    color: #707070;
}

div.sidemenu div.sidemenu-find {
    position: absolute;
    top: 770px;
    bottom: 0;
    left: 0;
    width: 250px;
    background-color: #909090;
}

div.sidemenu div.sidemenu-find table {
    width: 90%;
    margin-top: 5px;
}

div.sidemenu div.sidemenu-find table td {
    text-align: center;
}

div.sidemenu div.sidemenu-find table td a {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    opacity: 0.7;
    transition: 0.2s;
}

div.sidemenu div.sidemenu-find table td a.github {
    background: url("../figures/github.png") center no-repeat #000;
}

/*right content partition*/
div.content {
    position: fixed;
    top: 62px;
    bottom: 0;
    left: 250px;
    right: 0;
    z-index: -1;
    padding: 20px;
    text-align: center;
    background-color: #F0F0F0;
}

div.content p {
    font-family: "Edwardian Script ITC";
}

div.content div.honors p {
    color: #000;
    font-size: 20px;
    font-family: "Arial";
    padding-bottom: 0;
}

div.content div.honors a {
    color: #808080;
    font-size: 16px;
    font-family: "Times New Roman";
    font-style: italic;
    text-align: center;
    padding-top: 0;
}
