body {
    margin: 0;
}

/*top navbar partition*/
div.navbar {
    text-align: center;
}

div.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

div.navbar li {
    display: inline;
    float: left;
}

div.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 22px 24px;
    text-decoration: none;
}

div.navbar li a:hover {
    background-color: #222;
}

div.navbar li a:hover:not(.active) {
    background-color: #111;
}

div.navbar li a.active {
    background-color: #000;
}

/*side information bar partition*/
div.sidemenu {
    position: fixed;
    top: 62px;
    bottom: 0;
    left: 0;
    width: 250px;
}

div.sidemenu div.sidemenu-head {
    position: absolute;
    top: 0;
    left: 0;
    height: 300px;
    width: 250px;
    background-color: #C0C0C0;
}

div.sidemenu div.sidemenu-head img.photo {
    position: absolute;
    top: 15px;
    left: 25px;
    width: 80%;
}

div.sidemenu div.sidemenu-info {
    position: absolute;
    top: 300px;
    left: 0;
    width: 250px;
    height: 450px;
    background-color: #E0E0E0;
}

div.sidemenu div.sidemenu-info table {
    margin: auto;
}

div.sidemenu div.sidemenu-info table th.eng-name {
    text-align: center;
    font-size: 30px;
    color: #1f618d;
}

div.sidemenu div.sidemenu-info table td {
    padding-top: 12px;
    text-align: center;
    font-size: 19px;
    color: #808080;
}

div.sidemenu div.sidemenu-find {
    position: absolute;
    top: 750px;
    bottom: 0;
    left: 0;
    width: 250px;
    background-color: #909090;
}

div.sidemenu div.sidemenu-find table {
    width: 80%;
    margin: auto;
}

div.sidemenu div.sidemenu-find table a {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 6px;
    opacity: 0.7;
    transition: 0.2s;
}

div.sidemenu div.sidemenu-find table a.weibo {
    background: url("../icon/weibo.png") center no-repeat #ffa500;
}

div.sidemenu div.sidemenu-find table a.douban {
    background: url("../icon/douban.png") center no-repeat #008000;
}

div.sidemenu div.sidemenu-find table a.github {
    background: url("../icon/github.png") center no-repeat #808080;
}

div.sidemenu div.sidemenu-find table a.zhihu {
    background: url("../icon/zhihu.png") center no-repeat #1e90ff;
}

div.sidemenu div.sidemenu-find table a.linkedin {
    background: url("../icon/linkedin.png") center no-repeat #191970;
}

div.sidemenu div.sidemenu-find table a.facebook {
    background: url("../icon/facebook.png") center no-repeat #6495ed;
}

/*right content partition*/
div.content {
    position: fixed;
    top: 62px;
    bottom: 0;
    left: 250px;
    right: 0;
    z-index: -1;
    padding: 20px;
    text-align: center;
    background-color: #F0F0F0;
}
